<body>
  <br>
  <main>
    <form (ngSubmit)="register()">
      <h1> Page Inscription</h1>
      <div>
        <label for="username">Nom d'utilisateur :</label>
        <input type="text" id="nom" name="nom" placeholder="Nom d'utilisateur"[(ngModel)]="nom" required>
      </div>
      <div>
        <label for="username">Prenom d'utilisateur :</label>
        <input type="text" id="prenom" name="prenom" placeholder="Prenom d'utilisateur" [(ngModel)]="prenom" required>
      </div>
      <div>
        <label for="email">Email :</label>
        <input type="email" id="email" name="email" placeholder="email"[(ngModel)]="email" required>
      </div>
      <div>
        <label for="username">Date de Naissance :</label>
        <input type="date" id="datenais" name="datenais" [(ngModel)]="datenais" required>
      </div>
      <div>
        <label for="username">Telephone :</label>
        <input type="text" id="telephone" name="telephone" placeholder="Telephone" [(ngModel)]="telephone" required>
      </div>
      <div>
        <label for="username">Date d'emboche :</label>
        <input type="date" id="dateemboche" name="dateemboche" [(ngModel)]="dateemboche" required>
      </div>
      <div>
        <label for="username">Role :</label>
        <input type="text" id="role" name="role" placeholder="Role"[(ngModel)]="role" required>
      </div>
      <div>
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password" placeholder="Mot de passe" [(ngModel)]="motdepasse" required>
      </div>
      <div>
        <label for="password">Confirmer Mot de passe :</label>
        <input type="password" id="password" name="password" placeholder="Confirmer mot de passe" [(ngModel)]="confirmMotdepasse" required>
      </div>
      <button type="submit">S'inscrire</button>
      <div class="mt-2">Déjà membre? <a routerLink="/connexion">Connexion</a></div>
    </form>
  </main>
</body>
  