<header>
    <h1>Inscription</h1>
  </header>
  <main>
    <form (ngSubmit)="register()">
      <div>
        <label for="username">Nom d'utilisateur :</label>
        <input type="text" id="nom" name="nom" [(ngModel)]="nom" required>
      </div>
      <div>
        <label for="username">Prenom d'utilisateur :</label>
        <input type="text" id="prenom" name="prenom" [(ngModel)]="prenom" required>
      </div>
      <div>
        <label for="email">Email :</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" required>
      </div>
      <div>
        <label for="username">Date de Naissance :</label>
        <input type="date" id="datenais" name="datenais" [(ngModel)]="datenais" required>
      </div>
      <div>
        <label for="username">Telephone :</label>
        <input type="text" id="telephone" name="telephone" [(ngModel)]="telephone" required>
      </div>
      <div>
        <label for="username">Date d'emboche :</label>
        <input type="date" id="datedemboche" name="datedemboche" [(ngModel)]="datedemboche" required>
      </div>
      <div>
        <label for="username">Role :</label>
        <input type="text" id="username" name="username" [(ngModel)]="role" required>
      </div>
      <div>
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password" [(ngModel)]="motdepasse" required>
      </div>
      <div>
        <label for="username">Confirmer Mot de passe :</label>
        <input type="password" id="password" name="password" [(ngModel)]="motdepasse" required>
      </div>
      <button type="submit">S'inscrire</button>
      <div class="mt-2">Already a member? <a routerLink="/connexion">Connexion</a></div>
    </form>
  </main>
  